body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

form {
  width: 300px;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group.form-check {
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #6f42c1 !important;
  width: 100%;
  margin-top: 20px;
  opacity: 80%;
  transition: opacity 0.3s ease;
  border: none;
  outline: none;
}

.btn-primary:hover {
  opacity: 100%;
}
