body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 0;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  background-color: #f8f9fa; /* Color de fondo del encabezado */
  padding: 10px 0; /* Añade relleno interno superior e inferior */ 
}

header img {
  max-width: 100px;
  /* Ajusta el tamaño máximo del logo */
  height: auto;
  /* Mantiene la proporción */
  margin-right: 20px;
  /* Espacio a la derecha del logo */
}

.navbar {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  color: aliceblue;
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
}

/* Estilos para mover el campo de búsqueda a la derecha */
@media (min-width: 768px) {
  .navbar .navbar-collapse {
    display: flex;
    justify-content: space-between;
  }

  .navbar .navbar-nav {
    flex-direction: row;
  }

  .navbar .form-inline {
    margin-left: auto;
    display:flex;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: 50px;
}

.card {
  border: 2px solid black;
  box-shadow: 0 3px 6px black;
  padding: 16px;
  text-align: start;
  z-index: 0;
}


.card .card-img {
  max-width: 100%;
  /* Ajustar la imagen al 100% del ancho de su contenedor */
  height: auto;
  /* Altura automática para mantener la proporción */
  border-radius: 10px;
  /* Añadir un borde redondeado a la imagen */
}

.card-body {
  padding-left: 20px;
  /* Añadir espacio al lado izquierdo del cuerpo de la tarjeta */
}

.card-title {
  font-size: 1.25rem;
  /* Ajustar el tamaño del título */
  margin-bottom: 8px;
  /* Agregar espacio después del título */
}

.card-text {
  margin-bottom: 16px;
  /* Agregar espacio después del texto */
}

.text-body-secondary {
  color: #6c757d;
  /* Cambiar el color del texto secundario */
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Puedes ajustar la altura según sea necesario */
}

/* CSS/styles.css */

@media (max-width: 768px) {
  .card .card-img {
    max-width: 100%;
    /* Ajustar la imagen al 100% del ancho de su contenedor */
    height: auto;
    /* Altura automática para mantener la proporción */
    border-radius: 10px;
    /* Añadir un borde redondeado a la imagen */
  }

  .card-body {
    padding-left: 0;
    /* Eliminar el espacio al lado izquierdo del cuerpo de la tarjeta */
  }
}
